{% extends 'VBWebBundle::userArea.html.twig' %}

{% block content %}
    <div class="">
        <h3>Đơn hàng</h3>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Đơn hàng số:</label> <span class="col-xs-8 col-sm-9">{{ order.id }}</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Status:</label> <span class="col-xs-8 col-sm-9">{{ order.status }}</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Tên:</label> <span class="col-xs-8 col-sm-9">{{ order.contactName }}</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Số điện thoại:</label> <span class="col-xs-8 col-sm-9">{{ order.phone }}</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Email:</label> <span class="col-xs-8 col-sm-9">
            <a href="mailto:{{ order.email }}">{{ order.email }}</a>
        </span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Địa chỉ:</label> <span class="col-xs-8 col-sm-9">{{ order.address }}</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Ngày đặt hàng:</label> <span class="col-xs-8 col-sm-9">{{ order.created | date('h:iA d/m/y') }}</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid">
        <label class="col-xs-4 col-sm-3">Tổng tiền đơn hàng</label> <span class="col-xs-8 col-sm-9">{{ order.totalPrice | number_format(0, ',', '.')}} VND</span>
        <div class="clearfix"></div>
    </div>

    <div class="row-fluid" style="padding-bottom: 20px">
        <div class="col-sm-12">
            {% if order.statusCode == 'finished' or order.statusCode == 'canceled'%}
            {% else %}
                <a class="btn btn-info" href="{{ path('order_process_order',{'id':order.id}) }}">Xử lý đơn hàng</a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 15%">Mã</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>SL</th>
                <th class="hidden-xs">Tổng</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items %}
                <tr>
                    <td class="item-image">
                        {{ item.product.sku }}
                    </td>
                    <td class="item-product">
                        <a href="{{ path('product_by_slug',{'slug':item.product.slug}) }}">{{ item.product.name }}</a>
                        {#&#123;&#35;<span>{{ item.product.tagLine }}</span>&#35;&#125;#}
                        {% if item.product.properties %}
                            {% for property in item.product.properties %}
                                {% set firstValue = property.values | first %}
                                <span class="property">
                                    {{ property.name }}: {{ firstValue.value}}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="item-price">{{ item.price | number_format(0, ',', '.')}} VND</td>
                    <td class="item-quantity">{{ item.quantity }}</td>
                    {% set totalPrice =  item.price * item.quantity%}
                    <td class="item-total-price hidden-xs">{{ totalPrice | number_format(0, ',', '.')}} VND</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        .btn-action{
            padding: 5px;
        }
        .property{
            display: block;
            width: 100%;
            font-size: 13px;
        }
    </style>
{% endblock content %}
