{% extends '::base.html.twig' %}

{% block container %}
    <section class="section-two-columns">
        <div class="container">
            <div class="row-fluid">
                <div class="col-sm-3">
                    <div class="sidebar">
                    </div>
                </div>
                <div class="col-sm-9">
                    <h2 style="margin-bottom: 30px">
                        Editing {{ product.name }}
                        {#{% if product.properties is not empty %}#}
                        <a class="btn btn-success" href="{{ path('product_edit_all_properties',{'slug':product.slug}) }}">Edit properties</a>
                        <a class="btn btn-success" href="{{ path('product_edit_variation',{'slug':product.slug}) }}">Edit variants</a>
                        {#{% endif %}#}
                    </h2>
                    <form class="form-management" action="{{ path('product_edit_by_slug',{'slug':product.slug}) }}" {{ form_enctype(form) }} method="POST">

                        <ul class="inline nav nav-tabs" style="margin-bottom: 20px">
                            <li class="active"><a data-toggle="tab" href="#product-info">Thông tin sản phẩm</a></li>
                            <li><a data-toggle="tab" href="#sale-info">Giá bán</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="product-info" class=" tab-pane active">
                                {{ form_row(form.name) }}
                                {{ form_row(form.sku) }}
                                {{ form_row(form.visible) }}
                                {{ form_row(form.tag_line) }}
                                {{ form_row(form.short_description) }}
                                {{ form_row(form.description) }}
                                {{ form_row(form.how_to_use) }}
                                {{ form_row(form.properties) }}
                                <div class="form-group" style=" margin-top: 20px">
                                    <label class=" control-label">
                                        Uploaded images
                                    </label>
                                    <div class="">
                                        <ul>
                                            {% for image in product.images %}
                                                <li class="uploaded-image-{{ image.id }}">
                                                    <img width="50px" src="/images/public/product_image/{{image.fileName }}" />
                                                    <a class="btn btn-info" href="/images/public/product_image/{{image.fileName }}">view</a>
                                                    <a class="btn btn-warning remove-image" href="{{ path('product_image_delete',{'id':image.id}) }}">delete</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {{ form_row(form.images) }}
                            </div>
                            <div id="sale-info"  class=" tab-pane ">
                                {{ form_row(form.availableForSale) }}
                                {{ form_row(form.price) }}
                                {{ form_row(form.old_price) }}
                                {{ form_row(form.inputPrice) }}
                                {{ form_row(form.inputSource) }}
                                {{ form_row(form.weight) }}
                                {{ form_row(form.saleCommission) }}
                            </div>
                        </div>

                        {{ form_rest(form)}}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock container %}

{% block additional_script %}
    <script>
        $(document).ready(function(){
            $('.remove-image').click(function(e){
                e.preventDefault();
                var url = $(e.target).attr('href');
                $.ajax({
                    url: url
                })
                .done(function( response ) {
                    if(response.success == true){
                        $($('.uploaded-image-'+response.id)).remove();
                    }
                });

            });
        });
    </script>
{% endblock additional_script %}