{% extends '::base.html.twig' %}

{% block wrapper_tag %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block container %}
    <section class="section-two-columns">
        <div class="container">
            <div class="row-fluid">
                <div class="col-sm-3">
                    <div class="sidebar">
                        {% block sidebar %}
                            {{ render(controller('VBWebBundle:Menu:categoryWidget')) }}
                        {% endblock sidebar %}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="page-content">
                        <div class="products-page-head">
                            <h1 itemprop="name">{{ product.name }}</h1>
                            <div class="tag-line">
                                {{ product.tagLine }}
                            </div>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="cusmo-btn gray" href="{{ path('product_edit_by_slug',{'slug':product.slug}) }}">Edit</a>
                            {% endif %}
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-6">
                                <div class="flexslider product-gallery">
                                    <ul class="slides">
                                        {% for image in product.images %}
                                        {% set imagePath = 'images/public/product_image/'~image.fileName %}
                                        <li data-thumb="{{ imagePath | imagine_filter('product_image_slideshow_thumb')}}">
                                            <a href="/{{ imagePath }}" data-lightbox="product-images">
                                                <img itemprop="image" alt="{{ product.name }}" src="{{ imagePath | imagine_filter('product_image_slideshow')}}" />
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="product-info-box">
                                    <form method="POST" action="{{ path('cart_add') }}">
                                        <input  type="hidden" name="slug" value="{{ product.slug }}">
                                        <div class="info-holder">
                                            <span itemprop="description">
                                            {{ product.shortDescription | raw }}
                                            </span>
                                        </div>
                                        <hr>
                                        <div class="drop-downs-holder">
                                            {% for property in product.properties %}
                                                <div class="drop-selector variation-selector">
                                                    <span>{{ property.name }}</span>
                                                    <select name="property[{{ property.code }}]" class="chosen-select">
                                                        {% for value in property.values %}
                                                        <option value="{{ value.id }}">{{ value.value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% endfor %}

                                            <div class="drop-selector">
                                                <span>số lượng</span>
                                                <select name="amount" class="chosen-select">
                                                    {% for value in 1..9 %}
                                                        <option value="{{ value }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="price-holder">
                                            {% if product.availableForSale %}
                                            <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <span itemprop="price">{{ product.price | number_format(0, ',', '.') }} VND</span>
                                                {% if product.oldPrice %}
                                                    <span class="old">{{ product.oldPrice | number_format(0, ',', '.') }} VND</span>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="buttons-holder">
                                            {% if product.availableForSale %}
                                                <input type="submit" value="Thêm vào giỏ hàng" class="cusmo-btn add-cart-btn add-button">
                                            {% endif %}
                                            {#<a class="add-to-wishlist-btn" href="#"><i class="icon-plus"></i> Add to wishlist</a>#}
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="product-tabs">
                            <div class="controls-holder nav-tabs">
                                <ul class="inline">
                                    <li class="active"><a data-toggle="tab" href="#description">Thông tin</a></li>
                                    <li><a data-toggle="tab" href="#how-to-use">Hướng dẫn sử dụng</a></li>
                                    {#<li><a data-toggle="tab" href="#reviews">Comments</a></li>#}
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="description" style="margin-left: 20px;" class=" tab-pane active">
                                    {{ product.description | raw }}
                                </div>
                                <div id="how-to-use" style="margin-left: 20px;"  class=" tab-pane ">
                                    {{ product.howToUse | raw }}
                                </div>
                                {#<div id="reviews" class=" tab-pane ">#}

                                    {#&#123;&#35;{{ knp_disqus_render('virgosbeauty', {'identifier': app.request.getRequestURI(), 'language': 'vi', 'limit': 10}) }}&#35;&#125;#}
                                {#</div>#}
                            </div>
                        </div>

                        <div id="disqus_thread" style="margin-top: 40px">
                        </div>
                        <script type="text/javascript">
                            var disqus_shortname = 'virgosbeauty';
                            var disqus_identifier = 'product-{{ product.id }}';
                            var disqus_config = function () {this.language = 'vi';};

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock container %}