{% extends '::base.html.twig' %}

{% block container %}
    <section id="home" class="home-slider">
        <div class="container">
            <div class="flexslider">
                <ul class="slides">
                    <li class="slide">
                        <img style="margin-right: -250px" alt="" src="/images/slide/placenta.png" />
                        <div class="flex-caption">
                            <div class="medium">
                                <span>kem nhau thai cừu</span>
                            </div>
                            <div class="small">
                                <span>giúp trị nám, chống nhăn, giữ ẩm và dưỡng da</span>
                            </div>
                            <div >
                                <span>
                                    <a class="cusmo-btn" href="{{ path('product_by_category_and_grandparent',{'grandparent':'lam-dep','parent':'cham-soc-da','category':'kem-nhau-thai-cuu'}) }}">
                                        xem thêm
                                    </a>
                                </span>
                            </div>
                        </div>
                    </li>
                    {#<li class="slide">#}
                        {#<img alt="" src="http://amindiary.com/demo/cosmetico/images/slide01.png" />#}
                        {#<div class="flex-caption">#}
                            {#<div class="medium">#}
                                {#<span>you can use this theme</span>#}
                            {#</div>#}
                            {#<div class="small">#}
                                {#<span>for your small business</span>#}
                            {#</div>#}
                            {#<div>#}
                                {#<span><a class="cusmo-btn" href="#">learn more</a></span>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="home-products">
        <div class="container">
            <div class="controls-holder nav-tabs">
                <ul class="inline">
                    <li class="active"><a data-toggle="tab" href="#new-products">Sản phẩm mới</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="hot-products" class="products-holder active tab-pane ">
                    <div class="row-fluid">
                        {% for product in products %}
                            <div class="col-sm-3">
                                <div class="product-item">
                                    <a href="{{ path('product_by_slug',{'slug':product.slug}) }}">
                                        {% set image = product.images | first %}
                                        {% if image %}
                                            {% set imagePath = 'images/public/product_image/'~image.fileName %}
                                            <img alt="{{ product.name }}" src="{{ imagePath | imagine_filter('product_image_list_item')}}">
                                        {% else %}
                                            <img alt="{{ product.name }}" src="/images/no-image.jpg">
                                        {% endif %}
                                        <h1>{{ product.name }}</h1>
                                    </a>
                                    <div class="tag-line">
                                        <span>{{ product.tagLine }}</span>
                                    </div>
                                    <div class="price">
                                        {{ product.price | number_format(0, ',', '.') }} VND
                                    </div>
                                    <a class="cusmo-btn add-button" href="{{ path('cart_add',{'slug':product.slug}) }}">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock container %}


{% block additional_script %}
    <script>
        $(document).ready(function() {
            $('.home-slider .flexslider').flexslider({
                prevText: "",
                nextText: "",
                slideshow: true,
                controlNav: false
            });
        });
    </script>
{% endblock additional_script %}